#!/usr/bin/make -f

export DH_QUIET=1

GRX_SO_VERSION = $(shell dpkg -s libgrx-3.0-dev  | grep -o -P 'libgrx-3.0-\d+\s' | cut -d "-" -f 3)

%:
	dh $@ --builddirectory=. --with gir

override_dh_missing:
	dh_missing --fail-missing

override_dh_gencontrol:
	dh_gencontrol -- -Vgrx-so-version=$(GRX_SO_VERSION)

execute_after_dh_auto_build:
	strip -s -R .note* -R .comment ev3devKit-devices-demo ev3devKit-ui-demo libev3devkit-0.5.so.0.6.0
